<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" (click)="openFavourites()"></ion-menu-button>
    </ion-buttons>
    <ion-title>FreeToPlay Games</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select (ionChange)="genreSelect($event)" interface="popover" placeholder="Select Category">
        <ion-select-option value="All">All</ion-select-option>
        <ion-select-option value="mmorpg">MMORPG</ion-select-option>
        <ion-select-option value="shooter">Shooter</ion-select-option>
        <ion-select-option value="strategy">Strategy</ion-select-option>
        <ion-select-option value="racing">Racing</ion-select-option>
        <ion-select-option value="sports">Sports</ion-select-option>
        <ion-select-option value="sci-fi">Sci-fi</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
      <ion-card color="light"  *ngFor="let game of displayedGames[0]">
        <ion-img button [src]="game.thumbnail" [routerLink]="[game.id]"></ion-img>
        <ion-card-header>
          <ion-row>
            <ion-col>
              <ion-card-title>
                {{game.title}} ({{game.release_date | date:'y'}})
              </ion-card-title>
              <ion-card-subtitle><ion-text color="warning">{{game.platform}}</ion-text></ion-card-subtitle>
            </ion-col>
            <ion-button shape="round" color="warning" (click)="addToFavorites(game)">
              <ion-icon color="danger" name="heart"></ion-icon>
            </ion-button>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          {{game.short_description}}
        </ion-card-content>
      </ion-card>
      <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more games...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="scrollToTop()" color="warning">
        <ion-icon name="arrow-up"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
