<ion-header>
  <ion-toolbar>
    <ion-title>games</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card button *ngFor="let item of games[0]">
        <ion-img [src]="item.thumbnail"></ion-img>
        <ion-card-header>
          <ion-card-title> {{item.title}} ({{item.release_date | date:'y'}}) </ion-card-title>
          <ion-card-subtitle>{{item.platform}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{item.short_description}}
        </ion-card-content>
      </ion-card>
</ion-content>
